<div class="row">
    <div class="col-sm-6">
        Click the better movie of the two. If both movies are equally appealing (or appalling), click Pass.
        <br />
        Click <a ng-href="scores">Scores</a> to see the movies in order of which one has the most votes to the one that has the least votes and to learn more about them.
    </div>
    <div class="col-sm-6">
        Welcome {{vm.userInfo.Name}}!
        <br />
        <a ng-href="login">Login with a different account.</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="animate-show" ng-show="vm.showMatch">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-danger" ng-click="vm.voteContestant1()">
                        <div class="panel-heading"><center>{{vm.match.Contestant1.Definition['Title']}} ({{vm.match.Contestant1.Definition['Year']}})</center></div>
                        <div class="panel-body"><center><image ng-src="{{vm.match.Contestant1.Definition['Poster']}}" height="300px" /></center></div>
                        <div class="panel-footer">
                            <b>Directed by:</b> {{vm.match.Contestant1.Definition['Director']}}
                            <br />
                            <b>Written by:</b> {{vm.match.Contestant1.Definition['Writer']}}
                            <br />
                            <b>Starring:</b> {{vm.match.Contestant1.Definition['Actors']}}
                            <br />
                            <b>Plot:</b> {{vm.match.Contestant1.Definition['Plot']}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-danger" ng-click="vm.voteContestant2()">
                        <div class="panel-heading"><center>{{vm.match.Contestant2.Definition['Title']}} ({{vm.match.Contestant2.Definition['Year']}})</center></div>
                        <div class="panel-body"><center><image ng-src="{{vm.match.Contestant2.Definition['Poster']}}" height="300px" /></center></div>
                        <div class="panel-footer">
                            <b>Directed by:</b> {{vm.match.Contestant2.Definition['Director']}}
                            <br />
                            <b>Written by:</b> {{vm.match.Contestant2.Definition['Writer']}}
                            <br />
                            <b>Starring:</b> {{vm.match.Contestant2.Definition['Actors']}}
                            <br />
                            <b>Plot:</b> {{vm.match.Contestant2.Definition['Plot']}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-centered">
                <div class="col-sm-12">
                    <center>
                        <button type="button" class="btn btn-success" ng-click="vm.votePass()">I don't know</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
