<div class="row">
    <div class="col-sm-12">
        The movies in order of which one has the most votes to the one with the least votes.
        <br />
        Click <a ng-href="/">New Match</a> to vote for the better movie in a random match up.
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-danger" ng-repeat="contestant in vm.contestants">
            <div class="panel-heading">{{contestant.Contestant.Definition['Title']}} ({{contestant.Contestant.Definition['Year']}})</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <center><a ng-href="{{contestant.Contestant.Definition['Poster']}}"><image ng-src="{{contestant.Contestant.Definition['Poster']}}" height="300" /></a></center>
                    </div>
                    <div class="col-sm-8">
                        <b>Rated</b> {{contestant.Contestant.Definition['Rated']}}
                        <br />
                        <b>Genre:</b> {{contestant.Contestant.Definition['Genre']}}
                        <br />
                        <b>Director:</b> {{contestant.Contestant.Definition['Director']}}
                        <br />
                        <b>Writer:</b> {{contestant.Contestant.Definition['Writer']}}
                        <br />
                        <b>Actors:</b> {{contestant.Contestant.Definition['Actors']}}
                        <br />
                        <b>Plot:</b> {{contestant.Contestant.Definition['Plot']}}
                        <br />
                        <b>Awards:</b> {{contestant.Contestant.Definition['Awards']}}
                        <br />
                        <a ng-href="http://www.imdb.com/title/{{contestant.Contestant.Definition['imdbID']}}" target="_blank">IMDB page</a>
                        <br />
                        <b>Score:</b> {{contestant.Score}}
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-div">
            <ul class="pagination">
                <li ng-class="vm.prevPageDisabled()">
                    <a href="#" ng-click="vm.prevPage()"> Prev</a>
                </li>
                <li ng-repeat="n in vm.range()"
                    ng-class="{active: n == vm.currentPage}"
                    ng-click="vm.setPage(n)">
                    <a href="#">{{n+1}}</a>
                </li>
                <li ng-class="vm.nextPageDisabled()">
                    <a href="#" ng-click="vm.nextPage()">Next </a>
                </li>
            </ul>
        </div>
    </div>
</div>