<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CandidateWar2016.Properties.Settings.WarDb" connectionString="Server=tcp:warapi.database.windows.net,1433;Database=WarApi_Test;User ID=tandisoftwarapi_test@warapi;Password=n3OvjcOd{bhO{y xa~auue{ msFT7_#$!~5el:mdlqih`;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
            providerName="" />
    </connectionStrings>
</configuration>